:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --gray-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --border-radius: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--dark-blue);
  font-size: 18px;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--dark-cyan);
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: calc(0% - 580px) calc(0% - 475px),
    calc(100% + 580px) calc(100% + 450px);
}

.profile-card {
  display: flex;
  flex-direction: column;
  width: 325px;
  max-height: 360px;
  box-shadow: 0px 5px 50px hsla(0, 0%, 0%, 0.3);
  border-radius: var(--border-radius);
}

.profile-header {
  display: flex;
  justify-content: center;
  background-image: url("./images/bg-pattern-card.svg");
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  height: 200px;
}

.card-body {
  display: flex;
  flex-direction: column;
  background: white;
  height: 270px;
  text-align: center;
  padding-top: 70px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.card-body h1 span {
  font-weight: 400;
  color: var(--gray-blue);
  margin-left: 0.2rem;
  font-size: 18px;
}

.city {
  color: var(--gray-blue);
  padding-top: 6px;
  font-size: 14px;
  margin-bottom: 1rem;
}

.avatar-img {
  position: relative;
  top: 89px;
  border-radius: 50%;
  max-width: 110px;
  max-height: 110px;
  border: 5px solid white;
}

.card-footer {
  padding: 1rem;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-weight: 700;
}

.card-footer span {
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 12px;
}

.attribution {
  padding-top: 1rem;
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  font-size: 11px;
  color: rgb(255, 183, 0);
}

@media (min-width: 768px) {
  body {
    background-size: 1000px;
    background-position: calc(0% - 600px) calc(0% - 550px),
      calc(100% + 500px) calc(100% + 550px);
  }
}

@media (min-width: 1440px) {
  body {
    background-size: 1000px;
    background-position: calc(0% - 250px) calc(0% - 600px),
      calc(100% + 230px) calc(100% + 650px);
  }
}
